In [1]:
import pandas as pd
import numpy as np

In [2]:
#import my dataset
data_file = pd.read_csv('Sleep_health_and_lifestyle_dataset.csv', header=0)
data_file.drop_duplicates()
data_file

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [3]:
#1 Let's understand the data by printing the first 5 rows
data_file.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [4]:
#checking the tail as well
data_file.tail()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [5]:
data_file.shape

(374, 13)

In [6]:
data_file.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [7]:
#checking the columns names
data_file.columns

Index(['Person ID', 'Gender', 'Age', 'Occupation', 'Sleep Duration',
       'Quality of Sleep', 'Physical Activity Level', 'Stress Level',
       'BMI Category', 'Blood Pressure', 'Heart Rate', 'Daily Steps',
       'Sleep Disorder'],
      dtype='object')

In [8]:
#checking for unique values
data_file.nunique()

Person ID                  374
Gender                       2
Age                         31
Occupation                  11
Sleep Duration              27
Quality of Sleep             6
Physical Activity Level     16
Stress Level                 6
BMI Category                 4
Blood Pressure              25
Heart Rate                  19
Daily Steps                 20
Sleep Disorder               2
dtype: int64

In [9]:
#to check a specific column
data_file['Sleep Duration'].unique()

array([6.1, 6.2, 5.9, 6.3, 7.8, 6. , 6.5, 7.6, 7.7, 7.9, 6.4, 7.5, 7.2,
       5.8, 6.7, 7.3, 7.4, 7.1, 6.6, 6.9, 8. , 6.8, 8.1, 8.3, 8.5, 8.4,
       8.2])

In [10]:
data_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374 entries, 0 to 373
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person ID                374 non-null    int64
 1   Gender                   374 non-null    object
 2   Age                      374 non-null    int64
 3   Occupation               374 non-null    object
 4   Sleep Duration           374 non-null    float64
 5   Quality of Sleep         374 non-null    int64
 6   Physical Activity Level  374 non-null    int64
 7   Stress Level             374 non-null    int64
 8   BMI Category             374 non-null    object
 9   Blood Pressure           374 non-null    object
 10  Heart Rate               374 non-null    int64
 11  Daily Steps              374 non-null    int64
 12  Sleep Disorder           155 non-null    object
dtypes: float64(1), int64(7), object(5)
memory usage: 38.1+ KB

In [11]:
gender_count=data_file['Gender'].value_counts().reset_index()
gender_count

   Gender  count
0    Male    189
1  Female    185

In [12]:
#counting the age of the 
age_count = data_file[['Age', 'Gender']].value_counts().reset_index()
age_count.head(10)

   Age  Gender  count
0   43    Male     31
1   50  Female     20
2   44    Male     19
3   31    Male     17
4   53  Female     17
5   32    Male     17
6   59  Female     16
7   37  Female     15
8   45  Female     14
9   41    Male     12

In [13]:
occupation_count = data_file.groupby('Occupation')['Sleep Duration'].value_counts().reset_index()
occupation_count.head(10)

   Occupation  Sleep Duration  count
0  Accountant             7.2     19
1  Accountant             7.1     10
2  Accountant             6.6      4
3  Accountant             8.0      2
4  Accountant             6.5      2
5      Doctor             6.0     18
6      Doctor             7.7     14
7      Doctor             7.8      9
8      Doctor             6.1      9
9      Doctor             6.2      6

In [14]:
position_stress = data_file.groupby('Occupation')['Stress Level'].value_counts().reset_index()
position_stress.head(10)

   Occupation  Stress Level  count
0  Accountant             4     26
1  Accountant             7      6
2  Accountant             6      3
3  Accountant             3      2
4      Doctor             8     33
5      Doctor             6     32
6      Doctor             3      4
7      Doctor             5      2
8    Engineer             3     34
9    Engineer             5     16

In [15]:
data_file['BMI Category']= data_file['BMI Category'].replace({'Normal':'Normal Weight'})
data_file['BMI Category'].reset_index().head(10)

   index   BMI Category
0      0     Overweight
1      1  Normal Weight
2      2  Normal Weight
3      3          Obese
4      4          Obese
5      5          Obese
6      6          Obese
7      7  Normal Weight
8      8  Normal Weight
9      9  Normal Weight

In [16]:
data_file.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [17]:
data_file[data_file['Sleep Disorder'].isnull()]

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal Weight,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal Weight,125/80,75,10000,NaN
7,8,Male,29,Doctor,7.8,7,75,6,Normal Weight,120/80,70,8000,NaN
8,9,Male,29,Doctor,7.8,7,75,6,Normal Weight,120/80,70,8000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,342,Female,56,Doctor,8.2,9,90,3,Normal Weight,118/75,65,10000,NaN
342,343,Female,56,Doctor,8.2,9,90,3,Normal Weight,118/75,65,10000,NaN
343,344,Female,57,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,NaN
358,359,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,NaN
359,360,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,NaN

In [21]:
data_file['Sleep Disorder'] = data_file['Sleep Disorder'].replace(np.nan, 'missing')

In [22]:
data_file['Sleep Disorder']

0          missing
1          missing
2          missing
3      Sleep Apnea
4      Sleep Apnea
          ...
369    Sleep Apnea
370    Sleep Apnea
371    Sleep Apnea
372    Sleep Apnea
373    Sleep Apnea
Name: Sleep Disorder, Length: 374, dtype: object

In [23]:
data_file.isnull().sum()

Person ID                  0
Gender                     0
Age                        0
Occupation                 0
Sleep Duration             0
Quality of Sleep           0
Physical Activity Level    0
Stress Level               0
BMI Category               0
Blood Pressure             0
Heart Rate                 0
Daily Steps                0
Sleep Disorder             0
dtype: int64

In [24]:
data_file['Age'].mean()

42.18449197860963

In [25]:
data_file['Sleep Duration'].mean()

7.132085561497325

In [26]:
data_file['Quality of Sleep'].mean()

7.31283422459893

In [27]:
data_file['Physical Activity Level'].mean()

59.17112299465241

In [28]:
data_file['Stress Level'].mean()

5.385026737967914

In [29]:
data_file[['Systolic_BP', 'Diastolic_BP']] = data_file['Blood Pressure'].str.split('/', expand=True)

In [30]:
data_file = data_file.drop('Blood Pressure', axis='columns')
data_file.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Systolic_BP,Diastolic_BP
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,missing,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal Weight,75,10000,missing,125,80
2,3,Male,28,Doctor,6.2,6,60,8,Normal Weight,75,10000,missing,125,80
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,Sleep Apnea,140,90

In [31]:
data_file.sort_values("Occupation", inplace = True)

In [32]:
data_file.drop_duplicates(inplace=True)

In [33]:
data_file.head(20).reset_index()

,index,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Systolic_BP,Diastolic_BP
0,66,67,Male,32,Accountant,7.2,8,50,6,Normal Weight,68,7000,missing,118,76
1,142,143,Female,38,Accountant,7.1,8,60,4,Normal Weight,68,7000,missing,115,75
2,143,144,Female,38,Accountant,7.1,8,60,4,Normal Weight,68,7000,missing,115,75
3,306,307,Female,52,Accountant,6.5,7,45,7,Overweight,72,6000,Insomnia,130,85
4,307,308,Female,52,Accountant,6.5,7,45,7,Overweight,72,6000,Insomnia,130,85
5,308,309,Female,52,Accountant,6.6,7,45,7,Overweight,72,6000,Insomnia,130,85
6,309,310,Female,52,Accountant,6.6,7,45,7,Overweight,72,6000,Insomnia,130,85
7,140,141,Female,38,Accountant,7.1,8,60,4,Normal Weight,68,7000,missing,115,75
8,97,98,Female,36,Accountant,7.1,8,60,4,Normal Weight,68,7000,missing,115,75
9,95,96,Female,36,Accountant,7.1,8,60,4,Normal Weight,68,7000,missing,115,75
10,94,95,Female,36,Accountant,7.2,8,60,4,Normal Weight,68,7000,Insomnia,115,75
11,310,311,Female,52,Accountant,6.6,7,45,7,Overweight,72,6000,Insomnia,130,85
12,311,312,Female,52,Accountant,6.6,7,45,7,Overweight,72,6000,Insomnia,130,85
13,149,150,Female,39,Accountant,8.0,9,80,3,Normal Weight,67,7500,missing,115,78
14,150,151,Female,39,Accountant,8.0,9,80,3,Normal Weight,67,7500,missing,115,78
15,96,97,Female,36,Accountant,7.2,8,60,4,Normal Weight,68,7000,missing,115,75
16,85,86,Female,35,Accountant,7.2,8,60,4,Normal Weight,68,7000,missing,115,75
17,110,111,Female,37,Accountant,7.2,8,60,4,Normal Weight,68,7000,missing,115,75
18,114,115,Female,37,Accountant,7.2,8,60,4,Normal Weight,68,7000,missing,115,75
19,136,137,Female,38,Accountant,7.1,8,60,4,Normal Weight,68,7000,missing,115,75

In [34]:
data_file.to_csv('cleaned_dataset.csv', index=False)

In [35]:
pd.read_csv('cleaned_dataset.csv')

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Heart Rate,Daily Steps,Sleep Disorder,Systolic_BP,Diastolic_BP
0,67,Male,32,Accountant,7.2,8,50,6,Normal Weight,68,7000,missing,118,76
1,143,Female,38,Accountant,7.1,8,60,4,Normal Weight,68,7000,missing,115,75
2,144,Female,38,Accountant,7.1,8,60,4,Normal Weight,68,7000,missing,115,75
3,307,Female,52,Accountant,6.5,7,45,7,Overweight,72,6000,Insomnia,130,85
4,308,Female,52,Accountant,6.5,7,45,7,Overweight,72,6000,Insomnia,130,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,235,Female,44,Teacher,6.6,7,45,4,Overweight,65,6000,Insomnia,135,90
370,233,Female,44,Teacher,6.6,7,45,4,Overweight,65,6000,Insomnia,135,90
371,231,Female,44,Teacher,6.6,7,45,4,Overweight,65,6000,Insomnia,135,90
372,252,Female,45,Teacher,6.8,7,30,6,Overweight,65,6000,Insomnia,135,90
373,187,Female,43,Teacher,6.7,7,45,4,Overweight,65,6000,Insomnia,135,90